---
//export const prerender = false;

import Layout from "../layouts/Layout.astro";
import Posts from "../components/Posts.astro";
import Clients from "../components/Clients.astro";
import { Image } from "astro:assets";
import teamOne from "../assets/team-1.png";
import teamTwo from "../assets/team-2.png";
import team from "../assets/team-bg.png";
import Button from "../components/Button.astro";
import Client2 from "../components/Client2.astro";
import { loadQuery } from "../sanity/lib/loadquery";
import type { SanityDocument } from "@sanity/client";

const { data: logos } = await loadQuery<SanityDocument[]>({
  query: `*[_type == "clientes"]`,
});

const { data: posts } = await loadQuery<SanityDocument[]>({
  query: `*[_type == "post"]{
        title,
        slug,
        mainImage,
        publishedAt,
        extracto,
    }[0...4]`,
});
---

<Layout>
  <header class="about__container">
    <Image src={team} alt="" class="about__img-bg" />
    <svg
      width="1060"
      height="517"
      viewBox="0 0 1060 517"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="about__svg"
    >
      <path
        d="M0 46.7739H590.606L1027.1 483.27"
        stroke="#EC1C24"
        stroke-opacity="0.5"
        stroke-width="93"
        class="about__path"></path>
    </svg>

    <div class="about container__global">
      <div>
        <p class="about__text">
          No solo capacitamos a nuestros conductores y conductoras con las
          máximas habilitaciones exigidas por la ley, sino que también
          fomentamos un entorno laboral inclusivo, donde la experiencia y la
          profesionalidad son nuestro sello.
        </p>
        <Button label="Solicitar cotización gratuita" href="#contacto" />
      </div>

      <h1 class="about__title">
        Más de <span class="about__highlight">30 años moviendo el futuro</span> ,
        con la esencia de una empresa familiar
      </h1>
    </div>
  </header>
  <Client2 logos={logos} />
  <div class="environment__container--overflow">
    <section class="environment__container">
      <div class="environment container__global">
        <h2 class="environment__title">Almacenamiento Responsable</h2>
        <div class="environment__content">
          <div>
            <p class="environment__fact">4000m²</p><p>Depósitos sustentables</p>
          </div>
          <div class="environment__text">
            <p>
              En Expreso Vitale, hemos creado depósitos sustentables que
              combinan capacidad, tecnología y compromiso ecológico.
              próximamente sumaremos 4.000 m² especializados en cargas
              peligrosas.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="team container__global">
    <div class="team__content">
      <h2 class="team__title">Nuestra historia</h2>
      <div>
        <Image src={teamOne} alt="" class="team__img-small" />
        <p>
          En Expreso Vitale, nuestra historia es la base de nuestro compromiso.
          Todo comenzó cuando “Don Juan”, un hombre de familia y visionario,
          arrancó su sueño con un solo vehículo: un Bedford modelo 60. Junto a
          su hijo mayor, recorrió caminos, entregó cargas y sembró los valores
          que hoy nos definen: trabajo duro, responsabilidad y cercanía con el
          cliente.
        </p>
      </div>
    </div>
    <div class="team__img">
      <Image src={teamTwo} alt="" class="team__img-main" />
    </div>
  </section>
  {
    posts.length > 0 && (
      <div class="news__container">
        <section class="news container__global">
          <h2 class="news__title">Noticias</h2>
          <Posts posts={posts} />
        </section>
      </div>
    )
  }
</Layout>

<style>
  .about__container {
    background-color: var(--black);
    color: var(--white);
    position: relative;
    overflow: hidden;
    isolation: isolate;
    min-height: 100vh;
  }

  .about__img-bg {
    width: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    height: 100%;
    z-index: -1;
  }
  .about__svg {
    position: absolute;
    top: 0;
    right: -3rem;
    z-index: 0;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding-block: 6rem;
    overflow-y: hidden;
    min-height: 100vh;
    box-sizing: border-box;
  }

  .about__title {
    color: var(--white);
  }
  .about__text {
    max-width: 550px;
    opacity: 0.75;
    margin-bottom: 1rem;
  }
  .about > * {
    margin-top: 0;
  }

  .about__highlight {
    color: var(--primary-color);
  }
  .team {
    display: flex;
    gap: 1rem;
    padding-block: 8rem 5rem;
  }
  .team img {
    object-fit: cover;
  }
  .team__img {
    flex: 1.5;
  }

  .team__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .team__title {
    font-size: var(--step-4);
    margin-top: 0;
    color: var(--primary-color);
  }

  .news__container {
    background-color: var(--white);
    padding-block: 8rem;
  }
  /* Environment */
  .environment__container {
    background: url("../assets/environment.webp") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding-block: 5rem;
    height: 700px;
    box-sizing: border-box;
  }
  .environment__container--overflow {
    overflow: hidden;
    height: 700px;

    box-sizing: border-box;
  }
  .environment {
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    color: var(--white);
  }
  .environment__content {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .environment__title {
    color: var(--white);
    margin: 0;
    font-size: var(--step-5);
  }
  .environment__fact {
    margin: 0;
    font-size: var(--step-7);
    line-height: 1;
  }

  .environment__text {
    max-width: 340px;
  }

  .environment__text p {
    margin-bottom: 1rem;
  }

  .news__title {
    font-size: var(--step-0);
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .team__img-main,
  .team__img-small {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }

  @media (max-width: 750px) {
    .environment__content {
      flex-direction: column;
      align-items: start;
      gap: 1.5rem;
    }

    .environment__text {
      max-width: 100%;
    }
  }

  @media (max-width: 580px) {
    .team {
      flex-direction: column;
      gap: 2rem;
    }

    .team__title {
      margin-bottom: 1.5rem;
    }

    .news__container {
      padding-block: 4rem;
    }

    .about {
      height: auto;
    }

    .about__container::before {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
      background: linear-gradient(
        180deg,
        #050505 0%,
        rgba(5, 5, 5, 0.41) 12.35%,
        rgba(5, 5, 5, 0) 30.84%
      );
    }

    .about__svg {
      top: -2rem;
      right: -21rem;
    }
  }

  @media (max-width: 400px) {
    .news__title {
      margin-bottom: 1.5rem;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { DrawSVGPlugin } from "gsap/DrawSVGPlugin";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);
  gsap.registerPlugin(DrawSVGPlugin);

  document.addEventListener("astro:page-load", (event) => {
    gsap.from(".about__title", { y: 100, opacity: 0, duration: 0.5 });
    gsap.from(".about__path", { duration: 1, drawSVG: 0 });

    const tl = gsap.timeline();

    tl.to(".team__img-small", {
      scrollTrigger: {
        trigger: ".team__img-small",
        start: "top center",
        end: "bottom center",
        scrub: true,
      },
      clipPath: "polygon(100% 0, 0 0, 0 100%, 100% 100%)",
    });

    tl.to(".team__img-main", {
      scrollTrigger: {
        trigger: ".team__img-main",
        start: "top center",
        end: "bottom center",
        scrub: true,
      },
      clipPath: "polygon(100% 0, 0 0, 0 100%, 100% 100%)",
    });
  });
</script>
