---
import { Image } from "astro:assets";
import news from "../assets/news-img.png";
const newsData = [
  {
    title: "Distribuci贸n Interplantas",
    date: "25 jun, 2025",
    text: "Monitoreo satelital en tiempo real (homologado por CESVI) para que sigas cada paso de tu carga.",
    icon: news,
  },
  {
    title: "Distribuci贸n Interplantas",
    date: "25 jun, 2025",
    text: "Monitoreo satelital en tiempo real (homologado por CESVI) para que sigas cada paso de tu carga.",
    icon: news,
  },
  {
    title: "Distribuci贸n Interplantas",
    date: "25 jun, 2025",
    text: "Monitoreo satelital en tiempo real (homologado por CESVI) para que sigas cada paso de tu carga.",
    icon: news,
  },
  {
    title: "Distribuci贸n Interplantas",
    date: "25 jun, 2025",
    text: "Monitoreo satelital en tiempo real (homologado por CESVI) para que sigas cada paso de tu carga.",
    icon: news,
  },
];
---

<ul class="new__list">
  {
    newsData.map((news) => (
      <li class="new">
        <Image src={news.icon} alt={news.title} />
        <div class="new__container">
          <div class="square" />
          <div class="new__content">
            <div>
              <div>
                <h3 class="new__title">{news.title}</h3>
                <div class="new__date">
                  <svg
                    width="25"
                    height="24"
                    viewBox="0 0 25 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <mask
                      id="mask0_224_2672"
                      style="mask-type:alpha"
                      maskUnits="userSpaceOnUse"
                      x="0"
                      y="0"
                      width="25"
                      height="25"
                    >
                      <rect
                        x="0.613281"
                        y="0.00585938"
                        width="24"
                        height="24"
                        fill="#D9D9D9"
                      />
                    </mask>
                    <g mask="url(#mask0_224_2672)">
                      <path
                        d="M5.92103 21.5059C5.41586 21.5059 4.98828 21.3309 4.63828 20.9809C4.28828 20.6309 4.11328 20.2033 4.11328 19.6981V6.31362C4.11328 5.80846 4.28828 5.38087 4.63828 5.03087C4.98828 4.68087 5.41586 4.50587 5.92103 4.50587H7.30553V2.39062H8.84403V4.50587H16.421V2.39062H17.921V4.50587H19.3055C19.8107 4.50587 20.2383 4.68087 20.5883 5.03087C20.9383 5.38087 21.1133 5.80846 21.1133 6.31362V19.6981C21.1133 20.2033 20.9383 20.6309 20.5883 20.9809C20.2383 21.3309 19.8107 21.5059 19.3055 21.5059H5.92103ZM5.92103 20.0059H19.3055C19.3825 20.0059 19.453 19.9738 19.517 19.9096C19.5812 19.8456 19.6133 19.7751 19.6133 19.6981V10.3136H5.61328V19.6981C5.61328 19.7751 5.64536 19.8456 5.70953 19.9096C5.77353 19.9738 5.84403 20.0059 5.92103 20.0059ZM5.61328 8.81362H19.6133V6.31362C19.6133 6.23662 19.5812 6.16612 19.517 6.10212C19.453 6.03796 19.3825 6.00587 19.3055 6.00587H5.92103C5.84403 6.00587 5.77353 6.03796 5.70953 6.10212C5.64536 6.16612 5.61328 6.23662 5.61328 6.31362V8.81362Z"
                        fill="#050505"
                        fill-opacity="0.7"
                      />
                    </g>
                  </svg>
                  <p>{news.date}</p>
                </div>
              </div>
              <p class="new__text">{news.text}</p>
            </div>

            <a href="/post" class="new__arrow-container">
              <svg
                width="33"
                height="32"
                viewBox="0 0 33 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="new__arrow"
              >
                <rect
                  x="0.613281"
                  y="0.00585938"
                  width="32"
                  height="32"
                  rx="16"
                  fill="#E6E6E6"
                />
                <path
                  d="M20.9007 13.1188L12.0007 22.0188C11.8174 22.2021 11.584 22.2937 11.3007 22.2937C11.0174 22.2937 10.784 22.2021 10.6007 22.0188C10.4174 21.8354 10.3257 21.6021 10.3257 21.3188C10.3257 21.0354 10.4174 20.8021 10.6007 20.6188L19.5007 11.7188H11.9007C11.6174 11.7188 11.3799 11.6229 11.1882 11.4312C10.9965 11.2396 10.9007 11.0021 10.9007 10.7188C10.9007 10.4354 10.9965 10.1979 11.1882 10.0062C11.3799 9.81458 11.6174 9.71875 11.9007 9.71875H21.9007C22.184 9.71875 22.4215 9.81458 22.6132 10.0062C22.8049 10.1979 22.9007 10.4354 22.9007 10.7188V20.7188C22.9007 21.0021 22.8049 21.2396 22.6132 21.4313C22.4215 21.6229 22.184 21.7188 21.9007 21.7188C21.6173 21.7188 21.3799 21.6229 21.1882 21.4313C20.9965 21.2396 20.9007 21.0021 20.9007 20.7188V13.1188Z"
                  fill="#050505"
                />
              </svg>
            </a>
          </div>
        </div>
      </li>
    ))
  }
</ul>

<style>
  .square {
    width: 1rem;
    aspect-ratio: 1 / 1;
    background-color: var(--primary-color);
    display: none;
  }

  .new__list {
    list-style: none;
    margin-block: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(450px, 100%), 1fr));
    gap: 2rem;
    padding: 0;
  }

  .new {
    display: flex;
    gap: 2rem;
  }
  .new__title {
    margin-top: 0;
    position: relative;
  }
  .new__title::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-150%, -50%);
    content: "";
    aspect-ratio: 1 / 1;
    background-color: var(--primary-color);
    width: 1rem;
  }

  .new:nth-child(even) {
    margin-left: auto;
  }

  .new__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    max-width: 318px;
    height: 100%;
  }

  .new__date {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 0.5rem;
  }
  .new__date p {
    margin: 0;
  }
  .new__text {
    margin-top: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .new svg {
    transition: all 0.4s ease;
  }

  .new:hover .new__arrow {
    transform: rotate(45deg);
  }

  .new:hover .new__arrow rect {
    transition: all 0.4s ease;
    fill: var(--primary-color);
  }

  .new:hover .new__arrow path {
    transition: all 0.4s ease;
    fill: var(--white);
  }

  @media (max-width: 1220px) {
    .new:nth-child(even) {
      margin-left: 0;
    }
  }

  @media (max-width: 415px) {
    .new {
      flex-direction: column;
    }

    .new img {
      width: 100%;
      object-fit: cover;
    }
    .new__title::before {
      content: none;
    }

    .square {
      display: block;
    }

    .new__container {
      display: flex;
      align-items: start;
      gap: 0.5rem;
    }
  }
</style>
